body {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.red{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin : 10px;
    background-color: red;
}

.yellow{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin : 10px;
    background-color: yellow;
}

.green {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin : 10px;
    background-color: green;
}


.button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
}

.off {
    opacity: 0.3;
}

#message {
    font-size: larger;
}